/* Global CSS for all pages */

* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
}
:root {
    font-size: 1rem;
}

body, html {
    height: 100%;
    margin: 0;
}
.navbar{
background-color: rgb(235, 202, 255);
}

main {
    background-color :#ffe5c7;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.profileName{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.profileUsername{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.card {
    color: rgb(0, 0, 0);
    background-color: rgb(244, 227, 255);
    max-width: 400px; 
    margin: 0 auto; 
}
.card-text{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

#signupSection {
    max-width: 400px; 
    margin: 0 auto; 
}


.homepage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.lightText{
    color: rgb(0, 0, 0);
    font-family: "Rammetto One", sans-serif;
    font-weight: 900;
  
}
.lightTextUnselected{
    color: rgb(0, 0, 0);
    font-family: "Rammetto One", sans-serif;
    font-weight: 100;
}


.styled-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.styled-list .list-item {
    font-family: "Comme", sans-serif;
    font-weight: 200;
    color: #1d1d1d; 
    padding: 10px; 
    border: none; 
    text-decoration: none; 

}

.styled-list .list-item:not(:last-child) {
    border-bottom: 1px solid #555555; 
    width: 50%; 
    margin-left: 25%; 
}

.styled-list .list-item + .list-item {
    margin-top: 10px; 
}

.logo{
width: 10%;
}
.biglogo{
    width: 20%;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
.card-title{
    font-weight: 800;
}